.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  max-height: 100%;
  overflow-y: auto;
  background: var(--bg-color);
  max-width: 46.88rem;
  margin: 3.75rem 1.25rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.content_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.hot {
  color: var(--text-contrast-color);
  background-color: var(--accent-color);
  padding: 0.63rem;
  font-size: 0.88rem;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1.2rem 1.2rem 0rem 0rem;
  color: var(--text-sixth-color);
  cursor: pointer;
}

.bold {
  font-weight: 600;
  font-family: var(--third-family);
}

.highlight {
  color: var(--accent-color);
}

.header {
  margin-bottom: clamp(1.375rem, 0.825rem + 1.6vw, 1.875rem);
  text-transform: uppercase;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: clamp(1.5rem, 1.087rem + 1.2vw, 1.875rem);
}

.text {
  font-size: clamp(0.938rem, 0.319rem + 1.8vw, 1.5rem);
}

.text_bordered {
  border: 2px solid;
  border-radius: 3.75rem;
  border-color: var(--accent-color);
  padding: clamp(0.875rem, 0.738rem + 0.4vw, 1rem)
    clamp(1.438rem, 0.956rem + 1.4vw, 1.875rem);
  margin-bottom: clamp(1.625rem, 0.662rem + 2.8vw, 2.5rem);
  margin-top: 0.5rem;
}

.radio_group {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalBody {
  margin-top: 10px;
}
@media (max-width: 800px) {
  .radio_group {
    flex-direction: column;
    gap: 0.38rem;
    align-items: stretch;
    margin-top: 0.88rem;
    margin-bottom: 1.25rem;
  }
}
