.container {
  background-color: var(--header-bg-color);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.44rem;
}

.text {
  font-size: clamp(1rem, 0.3rem + 2.8vw, 1.875rem);
  font-weight: 600;
  color: var(--text-primary-color);
}

.countdown {
  display: flex;
  align-items: center;
  gap: 0.63rem;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-family: var(--second-family);
  font-size: clamp(2.5rem, 1.5rem + 4vw, 3.75rem);
  line-height: 3rem;
  color: var(--alert-color);
}

.label {
  color: var(--text-fourth-color);
  font-weight: 600;
  font-size: clamp(0.875rem, 0.775rem + 0.4vw, 1rem);
}

.colon {
  height: 100%;
  padding-bottom: 1.6rem;
  font-family: var(--font-family);
  font-size: 2.7rem;
  color: var(--alert-color);
}
