/* Customize the label (the container) */
.checkbox_container {
  /* margin-left: 0.25rem; */
  margin-bottom: 2.25rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox_container input:focus-visible + .checkmark {
  outline-width: 3px;
  outline-style: solid;
  outline-offset: 0.1rem;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  flex-shrink: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: transparent;
}

/* On mouse-over, add background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: var(--plan-checked-color);
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  background-color: var(--accent-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 0.43rem;
  top: 0.06rem;
  width: 0.46rem;
  height: 0.96rem;
  border: solid var(--text-contrast-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label {
  color: var(--text-fourth-color);
  max-width: 23.56rem;
}
